.container {
  width: 900px;
  margin: auto;
}

.col-full {
  width: 100%;
}

.col-quarter {
  width: 25%;
}

.header {
  text-align: center;
}

.phone-wrapper {
  background-color: rgb(247, 248, 250);
}
