.container {
  width: 1000px;
  margin: auto;
}

.col-full {
  width: 100%;
}

.col-quarter {
  width: 25%;
}

.col-quarter > img {
  max-width: 55%;
  height: auto;
}

.header {
  text-align: center;
}

.phone-wrapper {
  background-color: rgb(247, 248, 250);
}
