.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;

  /* your code here */
}

#bulbasaur {
  /* your code here */
  position: relative;
  top: 30px;
}

#charmander {
  /* your code here */
  position: relative;
  top: 40px;
}

#squirtle {
  /* your code here */
  position: relative;
  top: 78px;
}

#pikachu {
  /* your code here */
  position: relative;
  top: 170px;
}

#jigglypuff {
  /* your code here */
  position: relative;
  top: 320px;
}
