input {
  padding: 7px 14px 7px 14px;
  margin-left: 4px;
}

input.submit:hover {
  background-color: black;
  color: white;
}

th {
  color: white;
  background-color: black;
}

tr:nth-child(2n+1) {
  background-color: lightgray;
}
