* {
  font-family: "Karla", sans-serif;
}

div.container {
  margin: auto;
  width: 900px;
}

div.row {
  display: flex;
}

div.col-full {
  width: 100%;
}

div.col-half {
  width: 50%;
}

div.title {
  font-size: x-large;
  letter-spacing: 2px;
  margin-top: 5vh;
}

div.backend {
  display: flex;
  align-items: left;
  margin-top: 35px;
}

.statement-backend {
  margin-top: 15px;
}

.desc-title {
  color: rgb(93, 93, 93);
}

p.statement {
  font-weight: bold;
  align-items: right;
  margin-bottom: 10px;
}

section.desc-body {
  color: rgb(93, 93, 93);
  line-height: 2;
}

div.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  color: rgb(209, 76, 69);
  border-color: rgb(209, 76, 69);
  background-color: white;
  margin-top: 40px;
  padding: 10px 40px 10px 40px;
}
