/* Defaults */
.container {
  margin: auto;
  width: 1000px;
}

.col-full {
  width: 100%;
}

.col-half {
  width: 50%;
}

.col-quarter {
  width: 25%;
}

/* header row */
.header > a {
  color: rgb(110, 110, 110);
  text-decoration: none;
}

/* hero section */
.heroMod {
  position: relative;
}

.overlay {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
  width: 1000px;
  height: 562.5px;
  position: absolute;
}

.hero-image {
  max-width: 100%;
}

.heroMod > h1 {
  color: black;
  line-height: 50%;
  position: relative;
}

/* clinic section */
.clinic-background {
  color: rgb(110, 110, 110);
  background-color: rgb(250, 250, 250);
  height: 400px;
  font-family: "Tiempos Headline", sans-serif;
}

.clinic-title {
  text-align: center;
  font-style: none;
  line-height: 90%;
  padding-top: 2rem;
}

.location-wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
  color: rgb(110, 110, 110);
  line-height: 200%;
  padding-top: 2rem;
  font-family: "Avenir", sans-serif;
}

.meeting-wrapper {
  display: flex;
}

.buttonMod {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 25px;
}

button.get-started {
  background-color: rgb(41, 68, 100);
  color: white;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  border-color: rgb(41, 68, 100);
}

/* Canvas, Company and Product */
.body-background {
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(82, 83, 81);
  color: white;
}

.address-wrapper {
  margin-top: 40px;
  width: 50%;
  line-height: 100%;
  text-align: left;
}

.whiteImage {
  width: 55%;
  height: auto;
  margin-top: 4rem;
  margin-left: 3rem;
}

div.address {
  margin-top: 2rem;
  margin-left: 3rem;
  font-size: small;
  line-height: 95%;
}

.link-wrapper {
  margin-top: 5rem;
  width: 25%;
  line-height: 200%;
  font-family: "Avenir", sans-serif;
  font-size: 0.9em;
}

p.title {
  font-size: large;
}

/* footer */
.footer-background {
  background-color: rgb(250, 250, 250);
}

.col-quarter > a {
  color: white;
  text-decoration: none;
}

.footer > a {
  color: rgb(110, 110, 110);
  margin-left: 30px;
  text-decoration: none;
}
